flask
pypdfium2
requests
beautifulsoup4
sentence-transformers
faiss-cpu
numpy
validators
python-docx
better-profanity
pydub
werkzeug
openai
yt-dlp
langchain
langchain-groq
python-dotenv
flask-cors
ffmpeg